* {
	outline: 1px dotted orange;
}
header {
	background-color: #2d2d2d;
	height: 100px;
}
header ul {
	display: inline-block;
}
header ul li {
	display: inline;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #878787;
}
.topbar {
	display: block;
}
.topbar div {
	display: inline-block;
	background-color: #000;
	height: 15px;
	width: 105px;
}
#selected {
	background-color: #e00000;
}
.selected {
	color: #fff;
}
.nav {
	float: left;
	margin-top: 25px;
	margin-left: 25px;
}
.nav li {
	margin-right: 45px;
}
.icons {
	float: right;
	margin-top: 15px;
}
.icons img {
	height: 40px;
	width: 40px;
	margin-right: 25px;
}
body {
	background-color: #eaeaea;
	color: #fff;
	width: 960px;
	margin: 0px auto;
}
main {
	position: relative;
	background-color: #3a3a3a;
}
.banner{
	position: relative;
}
#textbox {
	position: absolute;
	top: 75px;
	left: 130px;
	width: 700px;
	height: 250px;
	border: 10px solid #fff;
}
#textbox h2 {
	text-transform: uppercase;
	font-family: 'Droid Sans', sans-serif;
	font-size: 50px;
	margin: 90px 215px;
}
footer {
	background-color: #2d2d2d;
	height: 20px;
}
footer p {
	margin: 0px auto;
}

/*///////////////////////////////////////////////////*/
/*ABOUT PAGE styles*/
header ul {
	display: inline-block;
}
header ul li {
	display: inline;



}*/

.content {
	background-color: #3a3a3a;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: lighter;
}

.content h2 {
font-size: 40px;
}

.columns ul {
	font-size: 14px;
	display: inline-block;;
	margin-top: 15px;
	margin-right: 30px;
}

.columns li {
	display: inline;
	float:left;
}
