* {
	/*outline: 1px dotted orange;*/
}
header {
	background-color: #2d2d2d;
	height: 100px;
}
header ul {
	display: inline-block;
}
header ul li {
	display: inline;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: #878787;
}
.topbar {
	display: inline;
	margin: 0px;
}
.topbar li {
	height: 10px;
	width: 50px;
	color: #000;
}
#selected {
	color: #e00000;
}
.selected {
	color: #fff;
}
.nav {
	float: left;
	margin-top: 40px;
	margin-left: 25px;
}
.nav li {
	margin-right: 45px;
}
.icons {
	float: right;
	margin-top: 30px;
}
.icons img {
	height: 40px;
	width: 40px;
	margin-right: 25px;
}
body {
	background-color: #eaeaea;
	color: #fff;
	width: 960px;
	margin: 0px auto;
	font-family: "helvetica light", sans-serif;
}
main {
	position: relative;
	background-color: #3a3a3a;
}
.banner{
	position: relative;
}
#textbox {
	position: absolute;
	top: 75px;
	left: 130px;
	width: 700px;
	height: 250px;
	border: 10px solid #fff;
}
#textbox h2 {
	text-transform: uppercase;
	font-family: 'Droid Sans', sans-serif;
	font-size: 50px;
	margin: 90px 215px;
}
footer {
	background-color: #2d2d2d;
	height: 20px;
}
footer p {
	margin: 0px auto;
}
